{% extends "base.twig" %}

{% block main %}
	<h2>Ajouter un élement</h2>
	<form action="index.php?page=element&action=create" method="post" enctype="multipart/form-data">

		<ul>
			<input type="hidden" name="balise" value="img">
			<li>
				<label for="alt">Saisir le texte alternatif</label>
				<input type="text" name="alt" placeholder="Saisir un texte alternatif">
			</li>
			<li>
				<label for="image">Saisir votre photo</label>
				<input type="file" name="image" placeholder="Saisir votre image">
			</li>
			{# <li>
							<label for="class">Saisir la mise en page</label>
							<select name="class">
								<option value="h2">Titre niveau 2</option>
								<option value="h3">Intertitre</option>
								<option value="p">Châpo</option>
								<option value="p">Citation / exergue</option>
								<option value="p">Paragraphe</option>
								<option value="video">Video</option>
								<option value="figcaption">Légende d'image</option>
							</select>
						</li> #}
			<li>
				<label for="class2">Saisir le placement de l'image</label>
				<select name="class2">
					<option value="image-float--left">Image à gauche</option>
					<option value="image-float--right">Image à droite</option>
					<option value="image-float--center">Image centré</option>
					<option value="image-float--encadre">Image dans un encadré</option>

				</select>
			</li>
			<li>
				<label for="class3">Saisir le placement des crédits</label>
				<select name="class3">
					<option value="legende-centered">Centré</option>
					<option value="legende">À gauche</option>
				</select>
			</li>
			<li>
				<label for="credit">Rentrer la légende et le crédit de l'image</label>
				<input type="text" name="credit">
			</li>

			<input type="hidden" name="id_article" value="{{ id }}">

			<input type="submit" value="Ajouter élément">
		</ul>
	</form>
{% endblock %}
