{% extends "base.twig" %}

{% block main %}
	<h2>Ajouter un élement</h2>
	<form action="index.php?page=element&action=create" method="post" enctype="multipart/form-data">

		<ul>
			<input type="hidden" name="balise" value="audio">
			<li>
				<label for="audio">Saisir votre audio</label>
				<input type="file" name="audio" placeholder="Saisir votre audio">
			</li>

			<input type="hidden" name="id_article" value="{{ id }}">

			<input type="submit" value="Ajouter élément">
		</ul>
	</form>
{% endblock %}
