{% extends 'base.twig' %}

{% block css %}
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/test.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% endblock %}

{% block header %}

	<div class="header__container">
		<div class="image">
			<img src="./images/credit/image15.jpg" alt="image header credit">
		</div>
		<div class="header__texte">
			<h1 class="header__item header__item--titre-credit">CRÉDITS</h1>
			<p class="header__item header__item--source-credit">© Guillaume Colleoni & Justine Le Pourhiet</p>

		</div>
	{% endblock %}

	{% block main %}

		<main>
			<div class="progress-bar credit" id="progressBar"></div>

			<div class="container">
				<h2 class="title-2 credit">Remerciements</h2>
				<p class="paragraphe">
				Après quatre semaines de travail, nous tenions à remercier tout particulièrement les
				personnes ayant donné de leur temps pour nous rencontrer et répondre à nos questions.
				Merci également aux étudiant·e·s en MMI d’Haguenau pour la réalisation de ce site, et pour
				leur patience.<br>
				Enfin, un dernier remerciement à Mathias Thura, Antoine Bonin, Yann Gallic et Joseph
				Pasquier, pour nous avoir accompagné·e·s dans cette séquence.<br><br>
				Bonne découverte!
				</p>

				<div class="row">
					<div class="col-md-4">
						<img src="./images/credit/image7.jpg" alt="Photo 7" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img src="./images/credit/image14.jpg" alt="Photo 14" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img src="./images/credit/image3.jpg" alt="Photo 3" class="img-fluid">
					</div>
				</div>

				<h3 class="intertitre credit">Directeur de publication</h3>
				<p class="paragraphe">Christophe Deleu</p>


				<h3 class="intertitre credit">Etudiants du Centre universitaire de l'enseignement de journalisme:</h3>
				<div class="media-credit justify-content-between">
						<img src="./images/credit/image12.jpg" alt="Photo 12" class="img-fluid" style="max-height: 245px;">
					
						<p class="paragraphe my-auto mx-4">
							<b>Rédaction en chef:</b> Keziah Cretin, Fanny Gelb<br>
							<b>Responsables d'édition:</b> Manon Boudsocq, Émie Stervinou<br>
							<b>Responsable iconographique:</b> Coline Playoust<br>
							<b>Rédacteurs et rédactrices:</b> Alice Caillau, Angelina Lenez, Azilis Briend, Baptiste Huguet, Coline Playoust, Fanny Gelb, Guillaume Colleoni, Ilham Cheblaouy, Jean Lebreton, Julie Arbouin, Justine Le Pourhiet, Keziah Cretin, Manon Boudsocq, Martin Falaizeau, Mina Peltier, Milan Derrien, Océane Caillat, Pauline Beignon, Émie Stervinou 
						</p>
				</div>


				<h3 class="intertitre credit">Étudiants en BUT Métiers du multimédia et de l'internet:</h3>

				<p class="paragraphe">
					<b>Développeurs:</b> Laura Borni, Ambre Lis, Yann Sander
					<br>
					<b>Graphistes:</b> Yann Sander, Jordan Hattstadt, Meltem Kurhan, Lucas Behavana, Marilou Klingenstein
				</p>


				<h3 class="intertitre credit">Encadrement</h3>
				<div class="media-credit justify-content-around">
						<img src="./images/credit/image4.jpg" alt="Photo 4" class="img-fluid" style="max-height: 245px;">
					
						<p class="paragraphe my-auto">
							<b>CUEJ:</b> Antoine Bonin, Yann Gallic, Joseph Pasquier, Mathias Thura<br>
							<b>IUT de Haguenau:</b> David Cazier, Sophie Behal, Jean-Baptiste Bailly
						</p>
				</div>

				<h3 class="intertitre credit">CUEJ (Centre Universitaire d'Enseignement du Journalisme) – Université de Strasbourg</h3>
				<div class="media-credit justify-content-evenly mb-4">
						<p class="paragraphe my-auto">
							11, rue du Maréchal Juin<br>
							CS 10068<br>
							67046 STRASBOURG<br>
							Tél.: 03.68.85.83.00<br>
							www.cuej.info
						</p>
						<img src="./images/credit/image1.jpg" alt="Photo 1" class="img-fluid" style="max-height: 245px;">
				</div>

			</div>
				
			<div class="container">
				<div class="row">
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image2.jpg" alt="Photo 2" class="img-fluid">
					</div>
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image5.jpg" alt="Photo 5" class="img-fluid">
					</div>
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image6.jpg" alt="Photo 6" class="img-fluid">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image8.jpg" alt="Photo 8" class="img-fluid">
					</div>
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image9.jpg" alt="Photo 9" class="img-fluid">
					</div>
					<div class="col-sm-1 col-md-6 col-lg-4 my-4">
						<img src="./images/credit/image13.jpg" alt="Photo 13" class="img-fluid">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-8 col-lg-6 my-4">
						<img src="./images/credit/image10.jpg" alt="Photo 10" class="img-fluid">
					</div>
					<div class="col-sm-1 col-md-8 col-lg-6 my-4">
						<img src="./images/credit/image11.jpg" alt="Photo 11" class="img-fluid">
					</div>
				</div>
			</div>
	
		</div>

	

			<div class="media-credit logo">
				<img class="logo_cuej" src="./images/cuej_logo.png" alt="logo iut haguenau"/>

				<img class="logo_iut" src="./images/iut_logo.png" alt="logo cuej"/>

			</div>
		</main>
	{% endblock %}
